@model IEnumerable<MysiePysieService.Models.Class>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Klasy</h2>

<p>
    @Html.ActionLink("Dodaj", "New", "Classes", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Studenci</th>
            <th>Edycja</th>
            <th>Usuwanie</th>
        </tr>
    </thead>
    <tbody>
        <!-- Jak będzie baza to ten kod będzie wyświetlał dane
        //foreach (var teacher in Model)
         {
             <tr>
                 <td>teacher.Id</td>
                 <td>teacher.Forename</td>
                 <td>teacher.Surname</td>
                 <td>teacher.Age</td>
                 <td>Html.ActionLink("Edytuj", "Edit", "Teachers", new { id = teacher.Id }, null)</td>
                 <button class="btn-link">Usuń</button>
             </tr>
         }
         -->

        <tr>
            <td>1</td>
            <td>33INF-SSI-SP</td>
            <td>Lista Studentów</td>
            <td>@Html.ActionLink("Edytuj", "Edit", "Classes", null)</td>
            <td><button class="btn-link">Usuń</button></td>
        </tr>
    </tbody>
</table>